In [1]:
print("Twinkle, twinkle, little star,\n     How I wonder what you are!\n          Up above the world so high,\n          Like a diamond in the sky. \nTwinkle, twinkle, little star,\n     How I wonder what you are!")

Twinkle, twinkle, little star,
     How I wonder what you are!
          Up above the world so high,
          Like a diamond in the sky.
Twinkle, twinkle, little star,
     How I wonder what you are!

In [4]:
import sys
print("Python version")
print(sys.version)

Python version
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [6]:
import datetime
now = datetime.datetime.now()

print (now.strftime("Date: %Y-%m-%d\nTime: %H:%M:%S"))

Date: 2022-01-01
Time: 22:46:09

In [7]:
f_name = input("enter you first name: ")[::-1]
l_name = input("enter you last name: ")[::-1]

print(f_name+" "+l_name)

enter you first name: Akhtar Hussain
enter you last name: Hussain
niassuH rathkA niassuH

In [8]:
num1 = int(input("type your first value"))
num2 = int(input("type your second value"))
num = num1+num2;
print(num)

type your first value7
type your second value98
105